
/ipch
/GS
/GS_CS
/include
/IA Julia 1.x.x.sdf
/IA Julia 1.x.x.suo
/IA Julia 1.x.x.opensdf
/IA Julia 1.x.x/Log
/IA Julia 1.x.x/resource.aps
/IA Julia 1.x.x/IA Julia 1.x.x.vcxproj.user
/IA Julia 1.x.x/Configs/IA Julia 1.x.x/ConsoleLogs
*.sdf
*.suo
/Season4.opensdf